openapi: 3.2.0
info:
  title: Braiins Hashpower Contracts API
  description: 'Public HTTP API for buying hashrate on the spot market, scheduling fixed-duration

    contracts, and reading account and market data.'
  version: 1.0.0
servers:
- url: https://hashpower.braiins.com/v1
  description: Production public API
security:
- ApiKey: []
tags:
- name: Contracts
  description: Quote, schedule, manage, and inspect caller-owned fixed-duration contracts.
paths:
  /contract:
    get:
      summary: List caller-owned contracts
      description: 'Lists contracts owned by the authenticated caller for one proof-of-work algorithm. Results can be paginated, reversed, and restricted to a created-at interval expressed in Unix nanoseconds.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getContracts
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: pow_algo
        in: query
        required: true
        schema:
          type: string
        description: 'Proof-of-work algorithm filter. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
      - name: limit
        in: query
        description: Maximum number of contracts to return. Omit to use the service default.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Zero-based number of matching contracts to skip.
        schema:
          type: integer
          format: int32
      - name: reverse
        in: query
        description: Return newest contracts first when true; the default order is oldest first.
        schema:
          type: boolean
      - name: start_timestamp
        in: query
        schema:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
        description: Inclusive lower created-at filter as Unix timestamp in nanoseconds. Zero disables the filter.
      - name: end_timestamp
        in: query
        schema:
          type: integer
          format: int64
          minimum: 0
          maximum: 9223372036854775807
        description: Exclusive upper created-at filter as Unix timestamp in nanoseconds. Zero disables the filter.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
    post:
      summary: Schedule a new caller-owned contract
      description: 'Schedules a fixed-duration contract and reserves the required caller funds. Pricing, funds, policy, and capacity are recalculated atomically; a preceding quote or availability check is advisory and does not reserve capacity.


        **Access:** API key required; allowed ACL: `owner`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: scheduleContract
      x-required-acl:
      - owner
      x-rate-limit: 100 requests/minute per API credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleContractRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/quote:
    post:
      summary: Quote and validate a contract creation request
      tags:
      - Contracts
      operationId: quoteContractCreation
      description: 'Calculates the current hashrate cost, premium, cancellation-weighted premium on the Contractual Funding Tail, available capacity, and caller balance for a proposed contract. This is advisory only and does not reserve funds or capacity; scheduling recomputes all checks.


        **Access:** API key required; allowed ACL: `owner`.


        **Rate limit:** 100 requests/minute per API credential.'
      x-required-acl:
      - owner
      x-rate-limit: 100 requests/minute per API credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteContractCreationRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteContractCreationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/pricing:
    get:
      summary: List current contract pricing
      tags:
      - Contracts
      operationId: getCurrentContractPricing
      description: 'Lists the active standard and time-limited pricing layers for the requested proof-of-work algorithm.

        A valid API key also includes the authenticated caller''s active individual pricing layer.

        Requests without an API key, or with an invalid API key, receive generic pricing only.


        **Access:** API key optional; allowed ACLs: `contract-pricing-public`, `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per client IP.'
      security:
      - {}
      - ApiKey: []
      x-required-acl:
      - contract-pricing-public
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per client IP
      parameters:
      - name: pow_algo
        in: query
        required: true
        schema:
          type: string
        description: 'Proof-of-work algorithm. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCurrentContractPricingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/cancel-fee:
    get:
      summary: List current contract cancellation fees
      tags:
      - Contracts
      operationId: getCurrentContractCancelFees
      description: 'Lists active standard and time-limited cancellation-fee layers for the requested proof-of-work algorithm.

        A valid API key also includes the authenticated caller''s active individual fee layer.

        Requests without an API key, or with an invalid API key, receive generic fee layers only.


        **Access:** API key optional; allowed ACLs: `contract-cancel-fee-public`, `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per client IP.'
      security:
      - {}
      - ApiKey: []
      x-required-acl:
      - contract-cancel-fee-public
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per client IP
      parameters:
      - name: pow_algo
        in: query
        required: true
        schema:
          type: string
        description: 'Proof-of-work algorithm. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCurrentContractCancelFeesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/availability:
    post:
      summary: Check whether requested contract hashrate is available
      tags:
      - Contracts
      operationId: checkContractSpeedAvailability
      description: 'Checks current contract capacity for the requested proof-of-work algorithm, hashrate, and time window. This is advisory and does not reserve capacity; scheduling rechecks while holding the service lock.


        **Access:** API key required; allowed ACL: `owner`.


        **Rate limit:** 100 requests/minute per API credential.'
      x-required-acl:
      - owner
      x-rate-limit: 100 requests/minute per API credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckContractSpeedAvailabilityRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckContractSpeedAvailabilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/active:
    get:
      summary: List caller-owned pending, running, or paused contracts
      description: 'Returns only caller-owned contracts that can still activate or deliver hashrate. Finished, canceled, and terminated contracts remain available from the general contract list.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getActiveContracts
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: pow_algo
        in: query
        required: true
        schema:
          type: string
        description: 'Proof-of-work algorithm filter. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}/detail:
    get:
      summary: Get a caller-owned contract
      description: 'Returns the schedule, destination, lifecycle status, and commercial terms for one caller-owned contract. Current delivery state is included when runtime state is available.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getContractDetail
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: Contract ID prefixed with C.
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/settings:
    get:
      summary: Get effective contract policy settings
      description: 'Returns the currently effective contract-duration, hashrate, activation-gap, cancellation-gap, and reservation-lead settings for the requested proof-of-work algorithm. Clients should validate scheduling forms against these settings.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getContractSettings
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: pow_algo
        in: query
        required: true
        description: 'Proof-of-work algorithm whose settings should be returned. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractSettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}:cancel:
    post:
      summary: Request cancellation for a pending caller-owned contract
      description: 'Requests cancellation of a contract that has not started delivery. Flux evaluates the request and the response reports whether it was accepted; cancellation rules and fees can apply.


        **Access:** API key required; allowed ACL: `owner`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: cancelContract
      x-required-acl:
      - owner
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: Contract ID prefixed with C.
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelContractRequest'
      responses:
        '200':
          description: Cancellation request accepted or rejected by Flux
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelContractResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}:terminate:
    post:
      summary: Terminate an active caller-owned contract
      description: 'Permanently stops an active caller-owned contract before its scheduled expiry. Termination is distinct from canceling a pending contract and can trigger final accounting.


        **Access:** API key required; allowed ACL: `owner`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: terminateContract
      x-required-acl:
      - owner
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: Contract ID prefixed with C.
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateContractRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateContractResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/activity:
    get:
      summary: List contract activity for the caller
      tags:
      - Contracts
      operationId: getContractActivity
      description: 'Returns caller-owned reservation, settlement, termination, funding-warning, blocked-settlement, and late-yield events in ascending cursor order. Store `next_cursor` and pass it as `after_cursor` to continue without replaying the last item.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: after_cursor
        in: query
        description: Return events with a cursor strictly greater than this value. Zero starts at the beginning.
        schema:
          type: integer
          format: uint64
          minimum: 0
      - name: limit
        in: query
        description: Maximum number of events. Zero uses the server default; the service maximum is 500.
        schema:
          type: integer
          format: uint32
          minimum: 0
          maximum: 4294967295
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}/reservation:
    get:
      summary: List reservation history for a caller-owned contract
      description: 'Returns up to 1,000 reservation adjustments for the contract, including when each became effective, the reserved amount, and the share price used when available.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getContractReservations
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: Contract ID prefixed with C.
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractReservationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}/settlement:
    get:
      summary: List settlement history for a caller-owned contract
      description: 'Returns daily settlement records for the contract, including delivered value, fees, indicative PPS rate, and any cancellation settlement data. Zero-share rows represent completed accounting days without delivery.


        **Access:** API key required; allowed ACLs: `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      tags:
      - Contracts
      operationId: getContractSettlements
      x-required-acl:
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: Contract ID prefixed with C.
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractSettlementsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}/speed:
    get:
      summary: Get contract hashrate history time series
      tags:
      - Contracts
      operationId: getContractSpeedHistory
      description: 'Returns estimated delivered hashrate samples for a caller-visible contract. `aggregation_period` controls sample buckets and `sliding_window_size` controls the estimator window.


        **Access:** API key required; allowed ACLs: `staff`, `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      x-required-acl:
      - staff
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: The contract ID (e.g., C123456789)
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      - name: aggregation_period
        in: query
        description: Aggregation period for resampling the data.
        schema:
          $ref: '#/components/schemas/ContractHistoryAggregationPeriod'
      - name: sliding_window_size
        in: query
        description: Sliding window size for estimating hashrate.
        schema:
          $ref: '#/components/schemas/SlidingWindowSize'
      - name: datetime_from
        in: query
        description: Datetime from which to start the history (optional). RFC 3339 format expected.
        schema:
          type: string
          format: date-time
          examples:
          - '2025-10-04T12:00:00Z'
      - name: limit
        in: query
        description: Maximum number of items to return (optional).
        schema:
          $ref: '#/components/schemas/Uint32'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractSpeedHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
  /contract/{contract_id}/delivery:
    get:
      summary: Get contract delivery history time series
      tags:
      - Contracts
      operationId: getContractDeliveryHistory
      description: 'Returns delivered, accepted, and rejected shares for a caller-visible contract, grouped by the selected aggregation period. Each value is expressed in millions of shares.


        **Access:** API key required; allowed ACLs: `staff`, `owner`, `read-only`.


        **Rate limit:** 100 requests/minute per API credential.'
      x-required-acl:
      - staff
      - owner
      - read-only
      x-rate-limit: 100 requests/minute per API credential
      parameters:
      - name: contract_id
        in: path
        required: true
        description: The contract ID (e.g., C123456789)
        schema:
          type: string
          pattern: ^C[0-9]+$
          examples:
          - C123456789
      - name: aggregation_period
        in: query
        description: Aggregation period for resampling the data.
        schema:
          $ref: '#/components/schemas/ContractHistoryAggregationPeriod'
      - name: datetime_from
        in: query
        description: Datetime from which to start the history (optional). RFC 3339 format expected.
        schema:
          type: string
          format: date-time
          examples:
          - '2025-10-04T12:00:00Z'
      - name: limit
        in: query
        description: Maximum number of items to return (optional).
        schema:
          $ref: '#/components/schemas/Uint32'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractDeliveryHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/ServiceError'
components:
  schemas:
    CancelContractResponse:
      type: object
      properties:
        cancellation_request:
          $ref: '#/components/schemas/ContractCancellationRequest'
    GetContractSettlementsResponse:
      type: object
      required:
      - contract_id
      - items
      properties:
        contract_id:
          type: string
          description: Contract ID prefixed with C.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContractSettlementPublicItem'
    ContractReservationOriginPublic:
      type: string
      enum:
      - CONTRACT_RESERVATION_ORIGIN_UNSPECIFIED
      - CONTRACT_RESERVATION_ORIGIN_INITIAL
      - CONTRACT_RESERVATION_ORIGIN_RECURRING
    GetCurrentContractCancelFeesResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CurrentContractCancelFeeLayer'
    CheckContractSpeedAvailabilityRequest:
      type: object
      required:
      - pow_algo
      - speed_ph
      - activates_at
      - expires_at
      properties:
        pow_algo:
          type: string
          description: 'Proof-of-work algorithm. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
        speed_ph:
          $ref: '#/components/schemas/Double'
          description: Contract hashrate in PH/s.
        activates_at:
          type: string
          format: date-time
          description: Desired activation datetime of the contract.
        expires_at:
          type: string
          format: date-time
          description: Desired expiration datetime of the contract.
    CheckContractSpeedAvailabilityResponse:
      type: object
      required:
      - available
      - reason_code
      - reason
      properties:
        available:
          type: boolean
          description: True when the requested hashrate and window currently fit configured contract capacity.
        reason_code:
          type: string
          description: Empty when available is true; otherwise a stable machine-readable rejection code.
        reason:
          type: string
          description: Empty when available is true; otherwise a human-readable rejection reason.
    CurrentContractCancelFeeLayer:
      type: object
      required:
      - kind
      - label
      - valid_from
      - valid_to
      - cancel_fee_pct
      properties:
        kind:
          $ref: '#/components/schemas/CurrentContractCancelFeeLayerKind'
        label:
          type: string
        valid_from:
          type: string
          format: date-time
          description: RFC3339 UTC timestamp from which this fee layer is valid.
        valid_to:
          type: string
          description: RFC3339 UTC timestamp at which this fee layer stops being valid. Empty means open-ended.
        cancel_fee_pct:
          type: string
          description: Cancellation fee as a percentage of unpaid remaining contract premium.
    ProfileIdentifier:
      type: object
      required:
      - profile_name
      - client_name
      properties:
        profile_name:
          type: string
        client_name:
          type: string
    GetContractDeliveryHistoryResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GetContractDeliveryHistoryItem'
    GetContractSpeedHistoryResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GetContractSpeedHistoryItem'
    GetContractsResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GetContractsResponseItem'
    ContractCreationQuoteReason:
      type: string
      enum:
      - CONTRACT_CREATION_QUOTE_REASON_UNSPECIFIED
      - CONTRACT_CREATION_QUOTE_REASON_SALES_DISABLED
      - CONTRACT_CREATION_QUOTE_REASON_SHARE_PRICE_UNAVAILABLE
      - CONTRACT_CREATION_QUOTE_REASON_NO_VALID_PRICING
      - CONTRACT_CREATION_QUOTE_REASON_SPEED_LIMIT_NOT_CONFIGURED
      - CONTRACT_CREATION_QUOTE_REASON_INSUFFICIENT_SPEED_CAPACITY
      - CONTRACT_CREATION_QUOTE_REASON_SPEED_UNAVAILABLE
      - CONTRACT_CREATION_QUOTE_REASON_INSUFFICIENT_FUNDS
    Int64:
      type: integer
      format: int64
    CurrentContractPricingLayer:
      type: object
      required:
      - kind
      - label
      - valid_from
      - valid_to
      - bands
      properties:
        kind:
          $ref: '#/components/schemas/CurrentContractPricingLayerKind'
        label:
          type: string
        valid_from:
          type: string
          format: date-time
          description: RFC3339 UTC timestamp from which this pricing layer is valid.
        valid_to:
          type: string
          description: RFC3339 UTC timestamp at which this pricing layer stops being valid. Empty means open-ended.
        bands:
          type: array
          items:
            $ref: '#/components/schemas/CurrentContractPricingBand'
    GetContractActivityResponse:
      type: object
      required:
      - items
      - next_cursor
      - has_more
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContractActivityItem'
        next_cursor:
          type: integer
          format: uint64
          minimum: 0
          description: Cursor of the final returned item, or the request cursor when no items were returned.
        has_more:
          type: boolean
          description: True when more matching events are currently available.
    GetContractsResponseItem:
      type: object
      required:
      - contract
      - state
      properties:
        contract:
          $ref: '#/components/schemas/ContractPublic'
        state:
          $ref: '#/components/schemas/ContractStatePublic'
    Uint32:
      type: integer
      format: uint32
      minimum: 0
      maximum: 4294967295
    QuoteContractCreationRequest:
      type: object
      required:
      - pow_algo
      - speed_ph
      - activates_at
      - expires_at
      properties:
        pow_algo:
          type: string
          description: 'Proof-of-work algorithm. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
        speed_ph:
          $ref: '#/components/schemas/Double'
          description: Contract hashrate in PH/s.
        activates_at:
          type: string
          format: date-time
          description: Desired activation datetime of the contract.
        expires_at:
          type: string
          format: date-time
          description: Desired expiration datetime of the contract.
    CurrentContractPricingBand:
      type: object
      required:
      - shares_to
      - premium_pct
      properties:
        shares_to:
          type: string
          description: Exclusive upper bound in difficulty-1 shares. Empty means open-ended top band.
        premium_pct:
          type: string
          description: Markup/fee percentage as a normalized decimal string.
    ScheduleContractResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Contract ID prefixed with C.
    CurrentContractCancelFeeLayerKind:
      type: string
      enum:
      - CURRENT_CONTRACT_CANCEL_FEE_LAYER_KIND_UNSPECIFIED
      - CURRENT_CONTRACT_CANCEL_FEE_LAYER_KIND_GLOBAL
      - CURRENT_CONTRACT_CANCEL_FEE_LAYER_KIND_PROMO
      - CURRENT_CONTRACT_CANCEL_FEE_LAYER_KIND_USER
    ContractHistoryAggregationPeriod:
      type: string
      description: Aggregation period for contract history time series.
      enum:
      - PERIOD_UNSPECIFIED
      - PERIOD_5_MINUTES
      - PERIOD_15_MINUTES
      - PERIOD_1_HOUR
      - PERIOD_4_HOURS
    GetContractReservationsResponse:
      type: object
      required:
      - contract_id
      - items
      properties:
        contract_id:
          type: string
          description: Contract ID prefixed with C.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContractReservationPublicItem'
    ContractSettlementPublicItem:
      type: object
      required:
      - settlement_date
      - bare_price_amount
      - premium_amount
      - pps_rate_for_day
      - shares_for_day
      - created_at
      - cancellation_fee_amount
      - is_final
      properties:
        settlement_date:
          type: string
          description: Settlement day in YYYY-MM-DD format.
        bare_price_amount:
          $ref: '#/components/schemas/Int64'
          description: Bare PPS price component in the implicit settlement currency smallest unit.
        premium_amount:
          $ref: '#/components/schemas/Int64'
          description: Premium component in the implicit settlement currency smallest unit.
        pps_rate_for_day:
          $ref: '#/components/schemas/Double'
          description: Indicative PPS rate used for this row. Derived from finalized daily pricing for delivered shares; a final row without delivery may use the cancellation price.
        shares_for_day:
          $ref: '#/components/schemas/Double'
          description: Shares delivered for this accounting day. Zero records a completed day with no delivery.
        released_amount:
          type: integer
          format: int64
          nullable: true
          description: Smallest-unit amount released by the final settlement row. Null or omitted for non-final rows.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the settlement row was recorded.
        cancellation_fee_amount:
          $ref: '#/components/schemas/Int64'
          description: Fee charged from unrealized remaining contract premium on termination.
        is_final:
          type: boolean
          description: True when this row completed accounting and released the remaining locked funds.
        cancellation_share_price_btc:
          type: string
          description: Exact BTC-per-difficulty-unit price used to calculate the final cancellation fee, encoded as a decimal string. Omitted when cancellation pricing was not required.
    SlidingWindowSize:
      type: string
      description: Sliding window size for estimating hashrate.
      enum:
      - WINDOW_SIZE_UNSPECIFIED
      - WINDOW_SIZE_10_MINUTES
      - WINDOW_SIZE_20_MINUTES
      - WINDOW_SIZE_30_MINUTES
    GetCurrentContractPricingResponse:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CurrentContractPricingLayer'
    ContractReservationPublicItem:
      type: object
      required:
      - effective_at
      - amount
      - origin
      - created_at
      - cancellation_buffer_amount
      properties:
        effective_at:
          type: string
          format: date-time
          description: Logical timestamp represented by this reservation.
        amount:
          $ref: '#/components/schemas/Int64'
          description: Incremental amount blocked by this reservation in the smallest unit of the implicit contract settlement currency.
        origin:
          $ref: '#/components/schemas/ContractReservationOriginPublic'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the reservation row was recorded.
        cancellation_buffer_amount:
          $ref: '#/components/schemas/Int64'
          description: Portion of this reservation attributed to newly required cancellation-fee coverage after accounting for amounts already covered. This is not an additional reservation or the final cancellation fee.
        share_price_btc:
          type: string
          description: Exact BTC-per-difficulty-unit price used for this reservation, encoded as a decimal string. Omitted when no pricing evidence is available.
    LocalContractDestination:
      type: object
      required:
      - local
      properties:
        local:
          type: integer
          enum:
          - 0
    ContractStatePublic:
      type: object
      required:
      - shares_claimed
      - shares_yielded
      - shares_sold
      - shares_delivered
      - shares_accepted
      - shares_rejected
      - avg_speed_ph
      - progress
      properties:
        shares_claimed:
          $ref: '#/components/schemas/Double'
        shares_yielded:
          $ref: '#/components/schemas/Double'
        shares_sold:
          $ref: '#/components/schemas/Double'
        shares_delivered:
          $ref: '#/components/schemas/Double'
        shares_accepted:
          $ref: '#/components/schemas/Double'
        shares_rejected:
          $ref: '#/components/schemas/Double'
        avg_speed_ph:
          $ref: '#/components/schemas/Double'
          description: Contract hashrate estimate in PH/s.
        progress:
          $ref: '#/components/schemas/Double'
          description: Progress in percents from 0 to 100.
    GetContractSettingsResponse:
      type: object
      required:
      - min_speed_ph
      - max_speed_ph
      - min_duration_seconds
      - max_duration_seconds
      - min_start_gap_seconds
      - min_cancellation_gap_seconds
      - reservation_lead_days
      - max_start_gap_days
      properties:
        min_speed_ph:
          type: number
          format: double
          description: Minimum allowed contract hashrate in PH/s.
        max_speed_ph:
          type: number
          format: double
          description: Maximum allowed contract hashrate in PH/s.
        min_duration_seconds:
          type: integer
          format: int64
        max_duration_seconds:
          type: integer
          format: int64
        min_start_gap_seconds:
          type: integer
          format: int64
        min_cancellation_gap_seconds:
          type: integer
          format: int64
        reservation_lead_days:
          type: string
          description: Reservation lead time in days as an exact decimal string.
        max_start_gap_days:
          type: integer
          format: int64
          description: Maximum allowed number of days between the request time and contract activation.
    CurrentContractPricingLayerKind:
      type: string
      enum:
      - CURRENT_CONTRACT_PRICING_LAYER_KIND_UNSPECIFIED
      - CURRENT_CONTRACT_PRICING_LAYER_KIND_GLOBAL
      - CURRENT_CONTRACT_PRICING_LAYER_KIND_PROMO
      - CURRENT_CONTRACT_PRICING_LAYER_KIND_USER
    UpstreamSpecification:
      type: object
      required:
      - url
      - identity
      properties:
        url:
          type: string
          description: Upstream URL
          examples:
          - stratum+tcp://pool.net:7770
        identity:
          type: string
          description: User / worker identification
    ContractDestination:
      oneOf:
      - $ref: '#/components/schemas/LocalContractDestination'
      - $ref: '#/components/schemas/UpstreamContractDestination'
    ScheduleContractRequest:
      type: object
      required:
      - destination
      - speed_ph
      - activates_at
      - expires_at
      - pow_algo
      properties:
        destination:
          $ref: '#/components/schemas/ContractDestination'
        speed_ph:
          $ref: '#/components/schemas/Double'
          description: Contract hashrate in PH/s.
        activates_at:
          type: string
          format: date-time
          description: Desired activation datetime of the contract.
        expires_at:
          type: string
          format: date-time
          description: Desired expiration datetime of the contract.
        pow_algo:
          type: string
          description: 'Proof-of-work algorithm. Canonical spelling: `sha256`; parsing is ASCII case-insensitive.'
        text:
          type: string
          description: Optional remark.
    ContractPublic:
      type: object
      required:
      - id
      - issuer_subaccount
      - subaccount
      - destination
      - nominal_speed_ph
      - activates_at
      - expires_at
      - status
      - pow_algo
      properties:
        id:
          type: string
          description: Contract ID prefixed with C.
        issuer_subaccount:
          type: string
        subaccount:
          type: string
        destination:
          $ref: '#/components/schemas/ContractDestination'
        nominal_speed_ph:
          $ref: '#/components/schemas/Double'
          description: Contract nominal hashrate in PH/s.
        activates_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/ContractStatus'
        pow_algo:
          type: string
        memo:
          type: string
        created_at:
          type: string
          format: date-time
        last_updated_at:
          type: string
          format: date-time
        last_status_change_timestamp:
          type: string
          format: date-time
        last_status_change_reason:
          $ref: '#/components/schemas/Uint32'
        last_status_change_remark:
          type: string
        created_by:
          $ref: '#/components/schemas/ProfileIdentifier'
        last_updated_by:
          $ref: '#/components/schemas/ProfileIdentifier'
        last_pause_reason:
          type: string
        last_paused_at:
          type: string
          format: date-time
        previous_status:
          $ref: '#/components/schemas/ContractStatus'
        premium_pct:
          $ref: '#/components/schemas/OptionalDouble'
          description: Premium percentage over the daily PPS rate. Omitted while commercial terms are not yet available.
        cancel_fee_pct:
          $ref: '#/components/schemas/OptionalDouble'
          description: Agreed cancellation fee as a percentage of unpaid remaining contract premium. Omitted while commercial terms are not yet available.
    ContractCancellationRequest:
      type: object
      properties:
        cancellation_request_id:
          type: integer
          format: uint64
          minimum: 0
        contract_id:
          type: string
          description: Contract ID prefixed with C.
        state:
          $ref: '#/components/schemas/ContractCancellationRequestState'
        affected_ids:
          type: array
          items:
            type: string
        failure_code:
          type: string
        failure_reason:
          type: string
    TerminateContractResponse:
      type: object
      required:
      - affected_ids
      properties:
        affected_ids:
          type: array
          items:
            type: string
    GetContractDetailResponse:
      type: object
      required:
      - contract
      - state
      properties:
        contract:
          $ref: '#/components/schemas/ContractPublic'
        state:
          $ref: '#/components/schemas/ContractStatePublic'
    TerminateContractRequest:
      type: object
      properties:
        memo:
          type: string
          description: Optional memo or reason.
    CancelContractRequest:
      type: object
      properties:
        memo:
          type: string
          description: Optional memo or reason.
    ContractActivityItem:
      type: object
      required:
      - cursor
      - contract_id
      - type
      - occurred_at
      - effective_date
      - amount
      - message
      - details_json
      properties:
        cursor:
          type: integer
          format: uint64
          minimum: 0
        contract_id:
          type: string
          description: Contract ID prefixed with C.
        type:
          $ref: '#/components/schemas/ContractActivityType'
        occurred_at:
          type: string
          format: date-time
          description: Event creation time in UTC.
        effective_date:
          type: string
          description: Accounting day in YYYY-MM-DD format, or an empty string when not applicable.
        amount:
          $ref: '#/components/schemas/Int64'
          description: Primary event amount in satoshis, or zero when not applicable.
        message:
          type: string
          description: Human-readable event summary.
        details_json:
          type: string
          description: Additional machine-readable values encoded as a JSON object.
    ContractCreationQuoteStatus:
      type: string
      enum:
      - CONTRACT_CREATION_QUOTE_STATUS_UNSPECIFIED
      - CONTRACT_CREATION_QUOTE_STATUS_SUCCESS
      - CONTRACT_CREATION_QUOTE_STATUS_FAILED
    ContractActivityType:
      type: string
      enum:
      - CONTRACT_ACTIVITY_TYPE_UNSPECIFIED
      - CONTRACT_ACTIVITY_TYPE_RESERVATION
      - CONTRACT_ACTIVITY_TYPE_SETTLEMENT
      - CONTRACT_ACTIVITY_TYPE_AUTO_TERMINATION
      - CONTRACT_ACTIVITY_TYPE_FUNDING_WARNING
      - CONTRACT_ACTIVITY_TYPE_SETTLEMENT_BLOCKED
      - CONTRACT_ACTIVITY_TYPE_LATE_YIELD
    QuoteContractCreationResponse:
      type: object
      required:
      - status
      - reason_code
      - reason
      - account_available_balance
      - fpps_share_price
      - rate_pct
      - hashrate_cost
      - fee_amount
      - initial_reservation_amount
      - available_speed_ph
      - quote_reason
      - hashrate_cost_reservation_amount
      - premium_reservation_amount
      - cancellation_buffer_reservation_amount
      - cancel_fee_pct
      properties:
        status:
          $ref: '#/components/schemas/ContractCreationQuoteStatus'
        reason_code:
          type: string
          description: Empty when status is SUCCESS; otherwise a stable machine-readable rejection code.
        reason:
          type: string
          description: Empty when status is SUCCESS; otherwise a human-readable rejection reason.
        account_available_balance:
          $ref: '#/components/schemas/Int64'
          description: Caller account available BTC balance in satoshis.
        fpps_share_price:
          type: string
          description: Order-time FPPS share price from SharePrice service, BTC per difficulty-unit as a decimal string.
        rate_pct:
          type: string
          description: Selected pricing fee/markup rate in percent as a decimal string.
        hashrate_cost:
          $ref: '#/components/schemas/Int64'
          description: Buyer principal hashrate cost for the whole contract in satoshis.
        fee_amount:
          $ref: '#/components/schemas/Int64'
          description: Total selected fee/markup for the whole contract in satoshis.
        initial_reservation_amount:
          $ref: '#/components/schemas/Int64'
          description: Total initial reservation amount in satoshis.
        available_speed_ph:
          $ref: '#/components/schemas/Double'
          description: Available contract hashrate for the requested window in PH/s.
        quote_reason:
          $ref: '#/components/schemas/ContractCreationQuoteReason'
          description: Typed rejection reason for generated clients. UNSPECIFIED when status is SUCCESS.
        hashrate_cost_reservation_amount:
          $ref: '#/components/schemas/Int64'
          description: Hashrate-principal portion of the upfront reservation in satoshis.
        premium_reservation_amount:
          $ref: '#/components/schemas/Int64'
          description: Premium portion of the Forward Funding Window reservation in satoshis.
        cancellation_buffer_reservation_amount:
          $ref: '#/components/schemas/Int64'
          description: Cancellation-weighted premium on the Contractual Funding Tail beyond the Forward Funding Window, in satoshis.
        cancel_fee_pct:
          type: string
          description: Cancellation fee as a percentage of unpaid remaining contract premium.
    OptionalDouble:
      description: Optional double value.
      type: object
      properties:
        value:
          $ref: '#/components/schemas/Double'
    ContractStatus:
      type: string
      enum:
      - CONTRACT_STATUS_UNSPECIFIED
      - CONTRACT_STATUS_PENDING
      - CONTRACT_STATUS_RUNNING
      - CONTRACT_STATUS_FINISHED
      - CONTRACT_STATUS_CANCELED
      - CONTRACT_STATUS_PAUSED
      - CONTRACT_STATUS_TERMINATED
    ContractCancellationRequestState:
      type: string
      enum:
      - CONTRACT_CANCELLATION_REQUEST_STATE_UNSPECIFIED
      - CONTRACT_CANCELLATION_REQUEST_STATE_PENDING
      - CONTRACT_CANCELLATION_REQUEST_STATE_ACCEPTED_BY_FLUX
      - CONTRACT_CANCELLATION_REQUEST_STATE_REJECTED_BY_FLUX
      - CONTRACT_CANCELLATION_REQUEST_STATE_CONFIRMED_RELEASED
      - CONTRACT_CANCELLATION_REQUEST_STATE_RELEASE_FAILED
    UpstreamContractDestination:
      type: object
      required:
      - upstream
      properties:
        upstream:
          $ref: '#/components/schemas/UpstreamSpecification'
    Double:
      type: number
      format: double
    GetContractSpeedHistoryItem:
      type: object
      required:
      - timestamp
      - speed_ph
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the hashrate measurement.
        speed_ph:
          $ref: '#/components/schemas/Double'
          description: Estimated hashrate in PH/s.
    GetContractDeliveryHistoryItem:
      type: object
      required:
      - timestamp
      - shares_delivered_m
      - shares_accepted_m
      - shares_rejected_m
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the delivery record.
        shares_delivered_m:
          $ref: '#/components/schemas/Double'
          description: Shares delivered (validated by platform). In millions.
        shares_accepted_m:
          $ref: '#/components/schemas/Double'
          description: Shares accepted by the target. In millions.
        shares_rejected_m:
          $ref: '#/components/schemas/Double'
          description: Shares rejected by the target. In millions.
  responses:
    Unauthorized:
      description: The `apikey` header is missing or does not contain a valid API credential.
    TooManyRequests:
      description: The applicable per-credential or per-client-IP request limit was exceeded. Retry after reducing request frequency.
    ServiceError:
      description: The gateway or upstream service could not complete the request. The response body and status depend on the failing boundary.
    Forbidden:
      description: The API credential is valid but its ACL role or resource ownership does not permit this operation.
    BadRequest:
      description: The path, query, or JSON body is invalid, violates a market rule, or contains mutually exclusive fields.
    NotFound:
      description: The requested caller-visible resource does not exist.
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: apikey
      description: API credential issued for a Braiins Hashpower account. The credential's ACL role and resource ownership determine which authenticated operations and records are available.
